@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

.choice-btn {
    padding: 20px;
    background-color: #F8E5EE;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    text-align: center;
    border-style: none;
    letter-spacing: 1.5px;
    font-weight: 500; 
    font-size: 1.5rem;
    transition: all .2s;
}

.choice-btn:hover {
    background-color: #f3d1e1;
    transform: scale(1.1);
}

.choice-btn-selected {
    padding: 20px;
    background-color: rgb(113, 204, 168);
    border-radius: 50%;
    width: 200px;
    height: 200px;
    text-align: center;
    border-style: none;    
    letter-spacing: 1.5px;
    font-weight: 500; 
    font-size: 1.5rem;
}